{% comment %}<svg
  viewBox="0 0 14 10"
  fill="none"
  aria-hidden="true"
  focusable="false"
  class="icon icon-arrow"
  xmlns="http://www.w3.org/2000/svg"
>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</svg>
{% endcomment %}
<div class="arrow">
<svg xmlns="http://www.w3.org/2000/svg" width="11" height="18" viewBox="0 0 11 18" fill="none">
<path d="M2.73615 17.6438L10.7388 9.66491C10.8338 9.56992 10.9009 9.46702 10.9402 9.3562C10.9801 9.24538 11 9.12665 11 9C11 8.87335 10.9801 8.75462 10.9402 8.6438C10.9009 8.53298 10.8338 8.43008 10.7388 8.33509L2.73615 0.332454C2.51451 0.110818 2.23747 0 1.90501 0C1.57256 0 1.2876 0.118734 1.05013 0.356201C0.812666 0.593668 0.693933 0.870712 0.693933 1.18734C0.693933 1.50396 0.812666 1.781 1.05013 2.01847L8.03166 9L1.05013 15.9815C0.828497 16.2032 0.717679 16.4761 0.717679 16.8003C0.717679 17.1252 0.836412 17.4063 1.07388 17.6438C1.31135 17.8813 1.58839 18 1.90501 18C2.22164 18 2.49868 17.8813 2.73615 17.6438Z" fill="#656565"/>
</svg></div>